@import "variables";

@mixin container {
  display: flex;
}

@mixin gridElement {
  width: 25%;
}

body {
  @include container;
}

.block {
  @include gridElement;
  background: rgb(78, 103, 180);
  height: 100px;
  margin: 1em;
}
